
.borders_blue1{
	border: 2px solid blue;
	border-radius: 15px;
	background-color:blue;
	color: white;
	padding: 15px 10px 15px 10px;
}
.borders_blue2{
	border: 2px solid #48a051;
	border-radius: 15px;
	background-color:#48a051;
	color: white;
	padding: 15px 10px 15px 10px;
}
	
.right{
	width: 900px;
	height: 400px;
	float: right;
}
.right1{
	width:900px;
	height: 440px;
	float: right;
}